<h1>商品一覧</h1>

<ul class="item_list">

<% @items.each do |item| %>
  <li>
    <%= link_to image_tag("/assets/#{item.image}"), top_path(item) %>
    <p>
      <%= link_to item.name, top_path(item) %><br />
      <span class="price"><%= item.unit_price %>円（税別）</span><br />
      在庫：<%= item.quantity %>
    </p>

    <i class="icon-thumbs-up"></i>
    <%= item.likes.count %>人

    <i class="icon-comment"></i>
    <%= item.comments.size %>件<br />
  </li>
<% end %>

</ul>
<br />