<h1>商品詳細</h1>

<p id="notice"><%= notice %></p>

<%= image_tag "/assets/#{@item.image}" %>

<p>
  <b>商品番号:<%= @item.no %></b><br />
  <b>商品名称:<%= @item.name %></b><br />
  <b>価格:</b>
  <span class="price">
    <%= @item.unit_price %>円(税別)
  </span><br />
  <b>在庫:<%= @item.quantity %></b>
</p>

<p>
  <b>商品の説明:</b><br />
  <%= @item.description %>
</p>

<% if (@item.likes.where(["user_id = ?", session[:user]]).size == 0) %>
  <%= link_to 'イイね！', like_path(@item) %>
<% else %>
  <%= link_to 'イイね！を取り消す', like_cancel_path(@item) %>
<% end %>

<i class="icon-thums-up"></i>
<%= @item.likes.count %>人のユーザーがこの商品を「イイね！」と言っています
<i class="icon-comment"></i>
<%= @item.comments.size %>件のレビューコメントがあります<br />

<%= form_tag cart_add_path(@item) do %>
  個数:<%= text_field_tag :quantity, 1, class: :number_field %>
  <%= submit_tag '買い物かごに入れる' %>
<% end %>

<hr />

<p>レビューコメント一覧</p>

<% @item.comments.each do |comment| %>
  <b><%= comment.user.name %></b><br />
  <%= comment.description %><br />
  <%= time_ago_in_words comment.created_at %> ago

  <% if comment.user.id == session[:user] %>
    [<%= link_to '削除', top_comment_path(comment.item, comment), confirm: 'コメントを削除してよろしいですか？', method: :delete %>]
  <% end %>

  <hr />

<% end %>



<%= form_for [@item,@comment],{url: top_comments_path} do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this status from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% #レビュー投稿フォーム %>
  <div class="field">
    レビューコメントを投稿しましょう<br />
    <%= f.text_area :description, :rows => 5 %><br />
    <%= f.submit "投稿", class: "btn" %>
  </div>

<% end %>
