<h1>商品詳細</h1>

<p id="notice"><%= notice %></p>

<%= image_tag "/assets/#{@item.image}" %>

<p>
  <b>商品番号:<%= @item.no %></b><br />
  <b>商品名称:<%= @item.name %></b><br />
  <b>価格:</b>
  <span class="price">
    <%= @item.unit_price %>円(税別)
  </span><br />
  <b>在庫:<%= @item.quantity %></b>
</p>

<p>
  <b>商品の説明:</b><br />
  <%= @item.description %>
</p>

<% if (@item.likes.where(["user_id = ?", session[:user]]).size == 0) %>
  <%= link_to 'イイね！', like_path(@item) %>
<% else %>
  <%= link_to 'イイね！を取り消す', like_cancel_path(@item) %>
<% end %>

<i class="icon-thums-up"></i>
<%= @item.likes.count %>人のユーザーがこの商品を「イイね！」と言っています



<% # ↓ここにテキストの解説(p40)に従ってコード(「良いね」件数表示)を追加します %>



<% # ↓ここにテキストの解説(p52)に従ってコード(レビューコメント件数表示＝<hr>タグの前まで)を追加します %>




<% # ↓ここにテキストの解説(p60)に従ってコード(form_tagによるフォーム)を追加します %>



<hr>
<% # ↓ここにテキストの解説(p52)に従ってコード(レビューコメント一覧表示＝<hr>タグから後)を追加します %>
<% # ↓p52の実装の後、さらにテキストの解説(p56)に従ってコード(「削除」リンク)を追加します %>











<%= form_for [@item,@comment],{url: top_comments_path} do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this status from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% # ↓ここにテキストの解説(p53)に従ってコード(コメント投稿用フォーム)を追加します %>




<% end %>
