<p id="notice"><%= notice %></p>

<p>
  <b>No:</b>
  <%= @item.no %>
</p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Image:</b>
  <%= @item.image %>
</p>

<p>
  <b>Unit price:</b>
  <%= @item.unit_price %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Quantity:</b>
  <%= @item.quantity %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
